[package]
name = "yara"
version = "0.3.0"
authors = ["Hugo Laloge <hugo.laloge@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Rust bindings for VirusTotal/yara"
readme = "README.md"
repository = "https://github.com/Hugal31/yara-rust"
keywords = ["yara"]
categories = ["api-bindings"]
edition = "2018"

[badges]
travis-ci = { repository = "Hugal31/yara-rust" }

[dependencies]
failure = "0.1.5"
lazy_static = "1.3.0"

[dependencies.yara-sys]
path = "yara-sys"
version = "0.3"
