[package]
name = "yara"
version = "0.1.0"
authors = ["Hugo Laloge <hugo.laloge@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Rust bindings for VirusTotal/yara"
readme = "README.md"
repository = "https://github.com/Hugal31/yara-rust"
keywords = ["yara"]
categories = ["api-bindings"]

[badges]
travis-ci = { repository = "Hugal31/yara-rust" }

[dependencies]
failure = "~0.1.0"
lazy_static = "1.0"

[dependencies.yara-sys]
path = "yara-sys"
version = "0.1"

[features]
bindgen = ["yara-sys/bindgen"]
