[package]
name = "yara-sys"
version = "0.2.0"
authors = ["Hugo Laloge <hugo.laloge@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Native bindings to the libyara library"
readme = "README.md"
repository = "https://github.com/Hugal31/yara-rust"
keywords = ["yara", "ffi"]
categories = ["external-ffi-bindings"]
edition = "2018"

[build-dependencies]
bindgen = { version = "0.49.3", optional = true }
