name: tests

on: [push, pull_request]

jobs:
  test-posix:
    strategy:
      matrix:
        os: [ ubuntu-20.04 ]
        features: [ "vendored,bindgen", "vendored,bundled-4_1_2" ]
        rust: [ stable, nightly ]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - name: Test
        uses: actions-rs/cargo@v1
        env:
          YARA_ENABLE_HASH: 1
        with:
          command: test
          toolchain: ${{ matrix.rust }}
          args: --verbose --no-default-features --features ${{ matrix.features }}

  test-windows:
    strategy:
      matrix:
        os: [ windows-2019 ]
        features: [ "vendored,bundled-4_1_2" ]
        rust: [ stable ]
        cryptolib: [ "OpenSSL", "WinCrypt", "disabled" ]

    runs-on: ${{ matrix.os }}
    steps:
        - name: Install OpenSSL
          if: ${{ matrix.cryptolib == 'OpenSSL' }}
          run: choco install openssl
        - uses: actions/checkout@v2
          with:
            submodules: true
        - name: Install rust toolchain
          uses: actions-rs/toolchain@v1
          with:
            toolchain: ${{ matrix.rust }}
            override: true
        - name: Test
          uses: actions-rs/cargo@v1
          env:
            YARA_CRYPTO_LIB: ${{ matrix.cryptolib }}
            INCLUDE: C:\Program Files\OpenSSL-Win64\include
            LIBRARY: C:\Program Files\OpenSSL-Win64\lib
            LIB: C:\Program Files\OpenSSL-Win64\lib
          with:
            command: test
            toolchain: ${{ matrix.rust }}
            args: --verbose --no-default-features --features ${{ matrix.features }}

  build-macos:
    strategy:
      matrix:
        os: [ macos-10.15 ]
        features: [ "vendored,bindgen", "vendored,bundled-4_1_2" ]
        rust: [ stable, nightly ]
        cryptolib: [ "OpenSSL", "CommonCrypto", "disabled" ]
        openssl_dir: [ "/usr/local/opt/openssl@1.1" ]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - name: Test
        uses: actions-rs/cargo@v1
        env:
          YARA_CRYPTO_LIB: '${{ matrix.cryptolib }}'
          CFLAGS: '-I ${{ matrix.openssl_dir }}/include'
          OPENSSL_LIB_DIR: '${{ matrix.openssl_dir }}/lib'
        with:
          command: build
          toolchain: ${{ matrix.rust }}
          args: --verbose --no-default-features --features ${{ matrix.features }}
